<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
   <ul v-if="name.length>0">
    <li v-for="item in name">{{item}}</li>
   </ul>
   <h2 v-else>name没有数据</h2>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    // 创建app
    const app = Vue.createApp({
      // data:option api
      data: function () {
        return {
          name:['张三','李斯','王五']
        }
      }
    })
    //挂载app
    app.mount("#app")
  </script>
</body>

</html>