<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="message">
    <input type="text" v-bind:value="message1" @input="changeinfo">
    
    <h2>{{message}}</h2><h2>{{message1}}</h2>
    
      <input type="text" v-model="accountName">
      <input type="password" v-model="password">
      <button @click="getINfo">登录</button>
    
    
    
  </div>

  <script src="../js/vue.js"></script>
  <script>
    // 创建app
    const app = Vue.createApp({
      // data:option api
      data: function () {
        return {
          message: "Hello World",
          message1:"haha",
          accountName:"",
          password:""
        }
      },
      methods:{
        changeinfo(event){
          this.message1 = event.target.value
        },
        getINfo(){
          console.log(this.accountName)
        }
      }
    })
    //挂载app
    app.mount("#app")
  </script>
</body>

</html>