<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2>{{message}}</h2>
    <div class="denger">
      <label for="male">
        <input type="radio"  id="male" v-model="info" value="male">男
      </label>
      <label for="female">
        <input type="radio"  id="female" v-model="info" value="female">女
      </label>

    </div>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    // 创建app
    const app = Vue.createApp({
      // data:option api
      data: function () {
        return {
          message: "Hello World",
          info:"female"
        }
      }
    })
    //挂载app
    app.mount("#app")
  </script>
</body>

</html>