<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2>{{message}}</h2>
    <select multiple v-model="info">
      <option :value="item.value"  v-for="(item,index) in city" :key="item">{{item.name}}</option>
    </select>
    <h2>info:{{info}}</h2>

    <template v-for="(item,index) in fruits" :key="item.value">
    
        <label :for="item.value">
          <input type="checkbox" :value="item.value" :id="item.value" v-model="fruit">{{item.text}}
        </label>
      
    </template>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    // 创建app
    const app = Vue.createApp({
      // data:option api
      data: function () {
        return {
          message: "Hello World",
          city:[
            {value:"beijing",name:"北京"},
            {value:"shanghai",name:"上海"},
            {value:"najing",name:"南京"},
            { value: "wuhan", name: "武汉" },
          ],
          info:[],
          fruits:[
            {value:"xiangjiao",text:'香蕉'},
            {value:"pingguo",text:'苹果'},
            {value:"juzi",text:'橘子'},
            { value: "xigua", text: '西瓜' },
          ],
          fruit:[]
        }
      }
    })
    //挂载app
    app.mount("#app")
  </script>
</body>

</html>